In [255]:
import requests 
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from data import google_maps
import time 
from pandas.io.json import json_normalize

In [118]:
df = pd.read_csv('data/train.csv',nrows=200000)
df['distance'] = np.nan
df['duration'] = np.nan

In [276]:
api_key = google_maps.secret()['api_key']

In [283]:
def get_distance(params):
    google_maps_url = 'https://maps.googleapis.com/maps/api/directions/json?origin=_OLA_,_OLI_&destination=_DLA_,_DLI_&key=_K_'
    google_maps_url = google_maps_url.replace('_OLA_', params['pickup_lat']).replace('_OLI_',params['pickup_long']).replace('_DLA_',params['dropoff_lat']).replace('_DLI_',params['dropoff_long']).replace('_K_',api_key)
    r = requests.get(google_maps_url)
    result = r.json()
    raw_results = {'distance':result['routes'][0]['legs'][0]['distance'],'duration':result['routes'][0]['legs'][0]['duration']}
    return raw_results

In [251]:
for i in df.iloc[50000:149975].index:
    param= {'pickup_lat':str(df['pickup_latitude'].iloc[i]),
            'pickup_long':str(df['pickup_longitude'].iloc[i]),
            'dropoff_lat':str(df['dropoff_latitude'].iloc[i]),
            'dropoff_long':str(df['dropoff_longitude'].iloc[i])}
    try: 
        location = get_distance(param)
        df['distance'].iloc[i]= location['distance']['value']
        df['duration'].iloc[i]=location['duration']['value']
    except:
        pass
    time.sleep(.2)

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

KeyboardInterrupt:

In [133]:
df

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,duration
0,2009-06-15 17:26:21.0000001,4.50,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,2446.0,501.0
1,2010-01-05 16:52:16.0000002,16.90,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,10159.0,1546.0
2,2011-08-18 00:35:00.00000049,5.70,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,1389.0,428.0
3,2012-04-21 04:30:42.0000001,7.70,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,3888.0,1078.0
4,2010-03-09 07:51:00.000000135,5.30,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,2000.0,316.0
5,2011-01-06 09:50:45.0000002,12.10,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1,4450.0,1075.0
6,2012-11-20 20:35:00.0000001,7.50,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1,2201.0,657.0
7,2012-01-04 17:22:00.00000081,16.50,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1,6118.0,1124.0
8,2012-12-03 13:10:00.000000125,9.00,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1,2344.0,630.0
9,2009-09-02 01:11:00.00000083,8.90,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2,3992.0,1102.0
10,2012-04-08 07:30:50.0000002,5.30,2012-04-08 07:30:50 UTC,-73.996335,40.737142,-73.980721,40.733559,1,1623.0,529.0
11,2012-12-24 11:24:00.00000098,5.50,2012-12-24 11:24:00 UTC,0.000000,0.000000,0.000000,0.000000,3,NaN,NaN
12,2009-11-06 01:04:03.0000002,4.10,2009-11-06 01:04:03 UTC,-73.991601,40.744712,-73.983081,40.744682,2,971.0,327.0
13,2013-07-02 19:54:00.000000232,7.00,2013-07-02 19:54:00 UTC,-74.005360,40.728867,-74.008913,40.710907,1,2985.0,830.0
14,2011-04-05 17:11:05.0000001,7.70,2011-04-05 17:11:05 UTC,-74.001821,40.737547,-73.998060,40.722788,2,2140.0,576.0
15,2013-11-23 12:57:00.000000190,5.00,2013-11-23 12:57:00 UTC,0.000000,0.000000,0.000000,0.000000,1,NaN,NaN
16,2014-02-19 07:22:00.00000074,12.50,2014-02-19 07:22:00 UTC,-73.986430,40.760465,-73.988990,40.737075,1,3571.0,965.0
17,2009-07-22 16:08:00.000000163,5.30,2009-07-22 16:08:00 UTC,-73.981060,40.737690,-73.994177,40.728412,1,1901.0,483.0
18,2010-07-07 14:52:00.00000044,5.30,2010-07-07 14:52:00 UTC,-73.969505,40.784843,-73.958732,40.783357,1,1663.0,339.0
19,2014-12-06 20:36:22.0000008,4.00,2014-12-06 20:36:22 UTC,-73.979815,40.751902,-73.979446,40.755481,1,818.0,252.0
20,2010-09-07 13:18:00.000000175,10.50,2010-09-07 13:18:00 UTC,-73.985382,40.747858,-73.978377,40.762070,1,2377.0,742.0
21,2013-02-12 12:15:46.0000002,11.50,2013-02-12 12:15:46 UTC,-73.957954,40.779252,-73.961250,40.758787,1,3015.0,839.0
22,2009-08-06 18:17:23.0000001,4.50,2009-08-06 18:17:23 UTC,-73.991707,40.770505,-73.985459,40.763671,1,1232.0,329.0
23,2010-12-06 12:29:00.000000199,4.90,2010-12-06 12:29:00 UTC,-74.000632,40.747473,-73.986672,40.740577,1,1525.0,419.0
24,2009-12-10 15:37:00.00000020,6.10,2009-12-10 15:37:00 UTC,-73.969622,40.756973,-73.981152,40.759712,1,1625.0,557.0
25,2011-06-21 16:15:00.00000073,7.30,2011-06-21 16:15:00 UTC,-73.991875,40.754437,-73.977230,40.774323,3,2568.0,687.0
26,2011-02-07 20:01:00.000000114,6.50,2011-02-07 20:01:00 UTC,0.000000,0.000000,0.000000,0.000000,1,NaN,NaN
27,2011-06-28 19:47:00.000000168,4.50,2011-06-28 19:47:00 UTC,-73.988893,40.760160,-73.986445,40.757857,3,1173.0,417.0
28,2012-05-04 06:11:20.0000002,9.30,2012-05-04 06:11:20 UTC,-73.989258,40.690835,-74.004133,40.725690,1,4696.0,768.0
29,2013-08-11 00:52:00.00000026,4.50,2013-08-11 00:52:00 UTC,-73.981020,40.737760,-73.980668,40.730497,2,1101.0,258.0
...,...,...,...,...,...,...,...,...,...,...
199970,2010-05-13 14:08:57.0000002,6.50,2010-05-13 14:08:57 UTC,-74.003503,40.734177,-73.990104,40.725114,1,NaN,NaN
199971,2011-03-31 18:19:42.0000004,14.10,2011-03-31 18:19:42 UTC,-73.997844,40.735815,-73.961866,40.779579,2,NaN,NaN
199972,2011-12-23 06:52:00.00000050,5.70,2011-12-23 06:52:00 UTC,-73.993793,40.751708,-73.993793,40.751708,1,NaN,NaN
199973,2014-04-26 23:15:07.0000003,9.00,2014-04-26 23:15:07 UTC,-73.988944,40.768609,-73.970087,40.764153,2,NaN,NaN
199974,2015-06-06 02:57:43.0000003,5.00,2015-06-06 02:57:43 UTC,-73.952156,40.777081,-73.950951,40.770878,5,NaN,NaN
199975,2009-02-21 23:12:00.000000278,5.30,2009-02-21 23:12:00 UTC,-73.978975,40.755285,-73.985253,40.760993,2,NaN,NaN
199976,2014-07-09 07:35:15.0000002,4.50,2014-07-09 07:35:15 UTC,-73.997730,40.761634,-73.998430,40.764336,1,NaN,NaN
199977,2011-09-27 06:46:12.0000001,4.50,2011-09-27 06:46:12 UTC,-73.998794,40.739802,-73.995108,40.750046,1,NaN,NaN
199978,2013-10-04 16:15:00.00000068,11.00,2013-10-04 16:15:00 UTC,-73.873325,40.774110,-73.891250,40.746500,2,NaN,NaN
199979,2014-09-21 21:37:00.000000114,10.50,2014-09-21 21:37:00 UTC,-73.980177,40.661065,-73.994345,40.638822,6,NaN,NaN
199980,2009-08-22 11:13:04.0000001,12.90,2009-08-22 11:13:04 UTC,-73.997915,40.724633,-73.973431,40.760758,1,NaN,NaN
199981,2010-10-07 20:42:00.0000006,15.70,2010-10-07 20:42:00 UTC,-73.983210,40.771615,-74.010007,40.714510,1,NaN,NaN
199982,2013-06-30 09:56:16.0000001,36.33,2013-06-30 09:56:16 UTC,-73.863315,40.769388,-73.975953,40.757057,2,NaN,NaN
199983,2015-06-13 09:40:28.0000001,6.00,2015-06-13 09:40:28 UTC,-73.980606,40.744518,-73.991722,40.749031,1,NaN,NaN
199984,2009-05-27 07:14:14.0000001,11.70,2009-05-27 07:14:14 UTC,-73.954570,40.769932,-73.985505,40.741641,1,NaN,NaN
199985,2009-10-10 13:19:38.0000002,10.90,2009-10-10 13:19:38 UTC,-73.987063,40.750178,-73.987330,40.760587,1,NaN,NaN
199986,2011-09-16 06:46:36.0000003,5.30,2011-09-16 06:46:36 UTC,-73.982942,40.766404,-73.974010,40.755850,1,NaN,NaN
199987,2012-10-14 05:52:00.00000024,17.00,2012-10-14 05:52:00 UTC,-73.949495,40.776977,-73.930535,40.766412,1,NaN,NaN
199988,2013-06-03 15:41:53.0000001,57.33,2013-06-03 15:41:53 UTC,-73.978104,40.761737,-73.783233,40.648834,2,NaN,NaN
199989,2014-08-31 00:12:00.000000175,3.00,2014-08-31 00:12:00 UTC,-73.988800,40.745022,-73.989315,40.743430,5,NaN,NaN
199990,2010-10-16 09:31:01.0000001,12.90,2010-10-16 09:31:01 UTC,-73.964849,40.764093,-74.003555,40.722676,1,NaN,NaN
199991,2010-08-21 05:38:10.0000001,2.90,2010-08-21 05:38:10 UTC,-74.002399,40.729507,-74.001551,40.730926,1,NaN,NaN
199992,2012-04-09 00:22:00.00000053,3.70,2012-04-09 00:22:00 UTC,-73.862085,40.735927,-73.861992,40.734425,2,NaN,NaN
199993,2012-11-23 22:34:13.0000006,9.50,2012-11-23 22:34:13 UTC,-73.992290,40.735478,-73.962822,40.758203,2,NaN,NaN
199994,2013-09-09 17:18:27.0000001,9.00,2013-09-09 17:18:27 UTC,-73.988872,40.692757,-73.959871,40.692645,1,NaN,NaN
199995,2011-03-24 01:38:50.0000002,8.90,2011-03-24 01:38:50 UTC,-73.989939,40.729423,-73.990683,40.758504,1,NaN,NaN
199996,2012-06-20 21:36:56.0000004,14.10,2012-06-20 21:36:56 UTC,-74.005021,40.739912,-73.961319,40.766701,3,NaN,NaN
199997,2012-08-04 19:18:00.000000219,6.90,2012-08-04 19:18:00 UTC,-73.993203,40.752092,-74.003508,40.732282,1,NaN,NaN
199998,2013-11-26 18:59:21.0000002,18.00,2013-11-26 18:59:21 UTC,-73.994411,40.750884,-73.978532,40.785599,1,NaN,NaN
199999,2015-01-06 10:21:48.0000001,42.83,2015-01-06 10:21:48 UTC,-74.001656,40.730495,-73.865578,40.770958,4,NaN,NaN

In [140]:
df.to_csv('data/train_w_additional.csv')

In [165]:
train_df = df.dropna(how = 'any', axis = 'rows')

In [166]:
print('New size: %d' % len(train_df))

New size: 129057

In [167]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
lr = LinearRegression()

In [171]:
X_train, X_test, y_train, y_test = train_test_split(train_df[['distance','duration', 'passenger_count']], train_df['fare_amount'], test_size=0.33, random_state=42)

In [172]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [173]:
predictions = lr.predict(X_test)

In [174]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 2.5101570085271114
MSE: 36.67511222076623
RMSE: 6.055998036720804

In [177]:
test_data_set = pd.read_csv('data/test.csv')
test_data_set['distance'] = np.nan
test_data_set['duration'] = np.nan

In [178]:
len(test_data_set)

9914

In [289]:
for i in test_data_set.iloc[4:].index:
    param= {'pickup_lat':str(test_data_set['pickup_latitude'].iloc[i]),
            'pickup_long':str(test_data_set['pickup_longitude'].iloc[i]),
            'dropoff_lat':str(test_data_set['dropoff_latitude'].iloc[i]),
            'dropoff_long':str(test_data_set['dropoff_longitude'].iloc[i])}
    try: 
        location = get_distance(param)
        test_data_set['distance'].iloc[i]= location['distance']['value']
        test_data_set['duration'].iloc[i]=location['duration']['value']
    except:
        pass
        print('fail')
    time.sleep(.2)

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [290]:
test_data_set.to_csv('data/test_w_additional.csv')

In [217]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train_df[['distance','duration', 'passenger_count']], train_df['fare_amount'], test_size=0.33, random_state=42)

In [215]:
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)
predictions = dt.predict(X_test)

MAE: 3.206659241175312
MSE: 40.604707717410015
RMSE: 6.372182335543296

In [216]:
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
rfpredictions = rf.predict(X_test)

MAE: 2.581242077650527
MSE: 27.32729787386641
RMSE: 5.227551804991167

In [293]:
kn = KNeighborsRegressor()
kn.fit(X_train, y_train)
knpredictions = kn.predict(X_test)
print('MAE:', metrics.mean_absolute_error(y_test, knpredictions))
print('MSE:', metrics.mean_squared_error(y_test, knpredictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, knpredictions)))

MAE: 2.48725699124187
MSE: 25.827367838268096
RMSE: 5.082063344574534

In [303]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lrpredictions = lr.predict(X_test)
print('MAE:', metrics.mean_absolute_error(y_test, lrpredictions))
print('MSE:', metrics.mean_squared_error(y_test, lrpredictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, lrpredictions)))

MAE: 2.5101570085271114
MSE: 36.67511222076623
RMSE: 6.055998036720804

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train_df[['distance','duration', 'passenger_count']], train_df['fare_amount'], test_size=0.33, random_state=42)

In [304]:
dtpreds= dt.predict(test_data_set[['distance','duration', 'passenger_count']])
rfpreds= rf.predict(test_data_set[['distance','duration', 'passenger_count']])
knpreds= kn.predict(test_data_set[['distance','duration', 'passenger_count']])

In [306]:
test_data_set['dtpreds'] = dtpreds

In [308]:
test_data_set['rfpreds'] = rfpreds
test_data_set['knpreds'] = knpreds
test_data_set['lrpreds'] = lr.predict(test_data_set[['distance','duration', 'passenger_count']])

In [312]:
test_data_set[['key', 'lrpreds', 'knpreds', 'rfpreds', 'dtpreds']]

                                key    lrpreds  knpreds    rfpreds    dtpreds
0       2015-01-27 13:08:24.0000002   8.954932    8.520   8.150000   7.500000
1       2015-01-27 13:08:24.0000003  10.073888   10.860   9.260000  10.600000
2       2011-10-08 11:53:44.0000002   5.324175    3.940   4.570000   4.500000
3       2012-12-01 21:12:12.0000002   8.337225    7.500   6.720000   7.000000
4       2012-12-01 21:12:12.0000003  15.131185   12.200  14.000000  13.000000
5       2012-12-01 21:12:12.0000005   9.414373    8.100   8.190000   9.300000
6       2011-10-06 12:10:20.0000001   6.463586    5.540   5.090000   7.000000
7       2011-10-06 12:10:20.0000003  43.770941   48.228  46.157000  49.570000
8       2011-10-06 12:10:20.0000002  12.285107   13.300  15.100000  17.500000
9       2014-02-18 15:22:20.0000002   7.220152    6.500   6.260000  10.000000
10      2014-02-18 15:22:20.0000003   8.545604    8.080   7.700000   8.500000
11      2014-02-18 15:22:20.0000001  15.386612   13.640  16.890000  20.500000
12      2010-03-29 20:20:32.0000002   5.414259    4.700   4.894000   5.500000
13      2010-03-29 20:20:32.0000001   7.882274    7.080   6.340000   6.100000
14      2011-10-06 03:59:12.0000002   9.741473    8.340   8.570000   6.900000
15      2011-10-06 03:59:12.0000001  14.583397   16.140  13.400000  14.100000
16      2012-07-15 16:45:04.0000006   4.326762    3.240   4.120000   4.000000
17      2012-07-15 16:45:04.0000002   9.075591    8.040  10.050000   7.000000
18      2012-07-15 16:45:04.0000003   5.958074    6.000   6.730000   7.300000
19      2012-07-15 16:45:04.0000004   5.365606    4.380  10.270000   2.900000
20      2014-10-29 02:09:56.0000001   7.393928    6.540   6.210000   6.000000
21     2014-06-14 13:39:00.00000010   8.559051    7.440   7.940000   8.000000
22     2014-06-14 13:39:00.00000060   7.370827    5.980   6.580000   6.900000
23     2014-06-14 13:39:00.00000087   7.203016    6.280   6.630000   5.700000
24     2014-06-14 13:39:00.00000050  14.798155   15.400  14.600000  12.200000
25      2014-06-14 13:39:00.0000003   5.992325    5.560   4.820000   5.300000
26    2014-06-14 13:39:00.000000158  37.555178   41.780  42.054000  49.570000
27     2014-06-14 13:39:00.00000015  22.756381   20.100  17.390000  22.900000
28     2014-06-14 13:39:00.00000073   6.851751    6.360   6.940000   4.900000
29     2014-06-14 13:39:00.00000077  12.983242   12.300  12.330000  12.100000
...                             ...        ...      ...        ...        ...
9884   2013-09-25 22:00:00.00000060  33.437647   28.674  32.177000  36.100000
9885  2013-09-25 22:00:00.000000213  20.285132   17.880  20.556000  17.700000
9886  2013-09-25 22:00:00.000000150  19.167806   16.180  15.160000  27.500000
9887   2013-09-25 22:00:00.00000010   7.626457    6.480   6.570000   5.300000
9888  2013-09-25 22:00:00.000000146   3.743711    7.400   7.083569   7.186667
9889   2013-09-25 22:00:00.00000041  10.102152   10.020  10.170000   7.700000
9890  2013-09-25 22:00:00.000000109  10.402877   12.820  10.120000  10.500000
9891  2013-09-25 22:00:00.000000210  15.953895   17.660  21.440000  19.000000
9892  2013-09-25 22:00:00.000000151   8.739729    8.160   8.060000   6.500000
9893  2013-09-25 22:00:00.000000190  13.352227   13.540  14.280000  15.500000
9894  2013-09-25 22:00:00.000000153  10.641792   10.740  10.680000  10.500000
9895  2013-09-25 22:00:00.000000241  21.084329   27.040  46.100000  62.250000
9896  2013-09-25 22:00:00.000000127  10.134151   10.760  11.910000  10.500000
9897    2015-02-20 11:08:29.0000001  16.455186   15.000  18.940000   5.500000
9898    2015-01-12 15:36:37.0000002   5.071003    7.020   4.270000   4.500000
9899    2015-06-07 00:38:14.0000002  14.057051   14.720  15.550000  14.500000
9900    2015-04-12 21:56:22.0000005   8.244541    6.180   7.890000   5.300000
9901    2015-04-10 11:56:54.0000004   7.484400    7.140   6.840000   6.500000
9902    2015-06-25 01:01:46.0000002  19.132085   18.300  13.373000  21.500000
9903    2015-05-29 10:02:42.0000001  10.832229    9.180  10.340000  12.500000
9904    2015-06-30 20:03:50.0000002  33.099175   31.340  39.480000  43.500000
9905    2015-02-27 19:36:02.0000006  18.830048   20.734  20.090000  25.000000
9906    2015-06-15 01:00:06.0000002   5.737949    5.840   5.740000   5.500000
9907    2015-02-03 09:00:58.0000001  27.528477   37.914  35.220000  35.000000
9908    2015-05-19 13:58:11.0000001   7.224598    7.040   8.380000   6.100000
9909    2015-05-10 12:37:51.0000002   9.968533    9.240   9.960000  12.900000
9910    2015-01-12 17:05:51.0000001   9.990468    8.780  10.900000   7.700000
9911    2015-04-19 20:44:15.0000001  42.460721   53.252  54.860000  56.800000
9912    2015-01-31 01:05:19.0000005  18.795494   18.300  18.353000  23.000000
9913    2015-01-18 14:06:23.0000006   6.536081    6.400   6.280000   4.900000

[9914 rows x 5 columns]

In [318]:
for i in ['lrpreds', 'knpreds', 'rfpreds', 'dtpreds']:
    path = 'data/res/' + i +'.csv'
    copy= test_data_set[['key',i]].copy(deep=True)
    copy['fare_amount']=copy[i]
    copy[['key','fare_amount']].to_csv(path, index=False)

In [319]:
len(train_df)

129057